<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Caso</title>
    <link rel="stylesheet" href="request.component.css">
</head>
<body>
    <div class="confirmation-container">
        <div class="confirmation-box">
            <div class="logo">
                <img src="/src/assets/prueba.png" alt="Logo">
            </div>
            <p>Un caso nuevo ha sido creado con número <strong>#23234758</strong></p>
            <p>Espera la respuesta en tu correo electrónico de 2 a 3 días hábiles</p>
            <button class="btn">Inicio</button>
        </div>
    </div>
</body>
</html>
