*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
  }
  
  .container {
      max-width: 400px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border: 2px solid #d10000;
      border-radius: 10px;
  }
  
  .logo {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .logo img {
      width: 50px;
      vertical-align: middle;
  }
  
  h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      color: #d10000;
  }
  
  .form-group {
      margin-bottom: 15px;
  }
  
  label {
      font-size: 14px;
      color: #333;
      display: block;
      margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  select,
  textarea {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  
  select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
  
  textarea {
      resize: none;
  }
  
  .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px; /* Aumenta la separación entre los botones */
      margin-top: 20px;
  }
  
  .btn {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
  }
  
  .cancel {
      background-color: #d10000;
  }
  
  .submit {
      background-color: #d10000;
  }
  
  .btn:hover {
      opacity: 0.8;
  }
  
  .spacer {
      height: 110px;
  }
  
  .form-group {
      margin-bottom: 10px; /* Reduce el espacio entre campos */
  }
  
  #topic {
      margin-top: 0; /* Elimina cualquier margen superior */
  }
  
  textarea {
      resize: none;
      height: 150px; /* Ajusta esta altura según lo que necesites */
  }
