<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'> 
    <meta name='author' content='IngenieriaDeSoftwarFrontend'>
    <meta name='keywords' content='html, css, angular, typescript, fundamentos'>
    <meta name='description' content='Página de verificación de cuenta'>
    <title>Document</title>
</head>
<body>
  <div class="verification-container">
    <header class="header">
      <div class="logo">
        <img src="assets/Logo.png" alt="Logo">
        <span>Administra Tu Tiempo</span>
      </div>
      <div class="menu-icons">
        <button class="menu-btn">&#9776;</button>
        <button class="help-btn">?</button>
      </div>
    </header>

    <main class="main-content">
      <div class="title-box">
        <h2>Verifica tu cuenta</h2>
      </div>

      <div class="verification-box">
        <a href="account-confirmation" class="botones-caja__container">Verificar con correo</a>
        <button class="botones-caja__container bigger-button" onclick="history.back()">Atrás</button>
      </div>
    </main>
  </div>
</body>
</html>
