<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de cuenta</title>
  </head>
  <body>
      <div class="login-container">
          <div class="login-header">
              <div class="logo-wrapper__container">
                  <div class="logo">
                      <img src="images/logo1.png" alt="logo"/>
                  </div>
                  <div class="logo2">
                      <a href="">
                        <img src="images/logocasa.png" alt="logo"/>
                      </a>
                  </div>
              </div>
              <br>
              <div class="titulo-caja__container">Verifica tu cuenta</div>
              <br>
          </div>
        
          <form class="login-form__container">
              <button type="submit" class="login-button">Acceder a verificación</button>
          </form>
      </div>
  </body>
</html>