<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'> 
    <meta name='author' content='IngenieriaDeSoftwarFrontend'>
    <meta name='keywords' content='html, css, angular, typescript, fundamentos'>
    <meta name='description' content='Página de verificación de cuenta'>
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <div class="login-header">
          <div class="logo">
            <img src="'assets/Logo.png'" alt="logo" class="logo-posicion__container"/>
          </div>
          <p class="titulo-pagina__container">Verifica tu cuenta</p>
          
        </div>
    </div>
    <div class="login-container">
      <div class="borde-contenido__container">
        <button class="botones-caja__container">Verificar con correo</button>
        <br>
        <button class="botones-caja__container">Atrás</button>
      </div>
    </div>
</body>
</html>
